@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

*::selection {
  @apply bg-pink-50;
}

button {
  background: none;
  padding: 0;
}

.styled-a {
  @apply no-underline border-b border-b-gray-300 hover:border-b-gray-500 transition-all duration-100;
}
